.btn-container {
    display: flex;
}

.btn-container button {
    width: 100%;
    border-radius: 4px;
}

.btn h6 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}


@media (min-width: 576px) {
    .btn-container button {
        width: 350px;
    }
    .btn h6 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .btn-container button {
        width: 400px;
    }
}

@media (min-width: 992px) {
    .btn-container button {
        width: 500px;
    }
}