.movies-crud-container {
  padding: 20px 10px;
}

.movies-crud-bar-container {
 margin-bottom: 20px;
}

.movies-crud-movies-container {
  margin: 0;
}

.movies-crud-movie-container {
  padding: 10px;
  margin-bottom: 20px;
}

.movies-crud-movie-container img {
  width: 100%;
  margin-bottom: 10px;
}

.movies-crud-movie-container h1 {
  font-size: 1.3em;
}

.movies-crud-movie-container h3 {
  font-size: 0.9em;
  color:#FFC700;
}

.movies-crud-movie-container h4 {
  font-size: 0.8em;
  color: #fff;
}

@media(min-width: 576px) {
  .movies-crud-container {
    padding: 20px;
  }
}